@model List<EntityLayer.Concrete.Blog>

@{
    ViewData ["Title"] = "BlogListByWriter";
    Layout="~/Views/Shared/WriterLayout.cshtml";
}

<h1>BLOGS OF WRITERS</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Title</th>
        <th>Create Date</th>
        <th>Category</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach(var item in Model){
        <tr>
            <th>@item.BlogId</th>
            <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Category.CategoryName</td>
            @* @if (@item.BlogStatus == true)
            {
                <td>Aktif</td>
            }
            else{
                <td>Pasif</td>
            } *@
            <td>@(item.BlogStatus ? "Aktif" : "Pasif")</td>


            <td><a href="#" class="btn btn-danger">Sil</a></td>
                        <td><a href="#" class="btn btn-warning">Update</a></td>

        </tr>
    }
</table>

<a href="#" class="btn btn-primary">Create A New Blog</a>

